@import "../global/styles.scss";

.search_container {
  background: #ffffff;
  box-shadow: 0px 2px 52px -9px rgba(32, 63, 178, 0.201513);
  border-radius: 10px;
  margin-top: 3rem;
  padding: 1rem 2.5rem;

  .book_library {
    border: none;
    border-bottom: 2px solid $color1;
    color: rgba(15, 65, 82, 0.8);
    min-width: 220px;
  }

  .search_fields {
    select {
      background: #ffffff;
      border: 1px solid #b6b6b6;
      border-radius: 100px;
      padding-left: 1.5rem;
      font-family: "Assistant", sans-serif;
      font-weight: 600;
      width: 100%;
      font-size: 14px;
      height: 44px;
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    select:focus {
      color: $color1;
      font-weight: 500;
    }

    select.rtl {
      padding-right: 1.5rem;
    }

    .selectdiv {
      width: 100%;
      position: relative;
    }

    .selectdiv::after {
      content: url("../../icons/downArrow.svg");
      font: 17px "Consolas", monospace;
      color: #333;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      padding: 0 0 2px;
      position: absolute;
      pointer-events: none;
    }

    .selectdiv.rtl::after {
      left: 20px;
      right: auto;
    }

    .inp_container {
      position: relative;
      width: 100%;

      input {
        background: #ffffff;
        border: 1px solid #b6b6b6;
        border-radius: 100px;
        padding-left: 1.5rem;
        font-family: "Assistant", sans-serif;
        font-weight: 600;
        width: 100%;
        height: 44px;

        &:focus {
          outline-width: 1px;
          outline-style: solid;
          outline-color: $color1;
        }
      }

      input.rtl {
        padding-right: 1.5rem;
        padding-left: 2.5rem;
      }

      img {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
      }

      img.rtl {
        left: 20px;
        right: auto;
      }
    }

    .search_btn {
      background: #0f4152;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
      border-radius: 100px;
      color: #fff;
      width: 100%;
      height: 44px;
    }
  }
}

.searched_list_container {
  background: #ffffff;
  box-shadow: 0px 2px 52px #d3d3d3;
  border-radius: 10px;
  margin-top: 2rem;
  height: calc(100vh - 380px);
  overflow: auto;

  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  &::-webkit-scrollbar-thumb {
    background: $color1;
    border-radius: 10px;
  }

  .searched_card {
    transition: 0.6s;

    &:hover {
      background: #f2f5fe;
    }
  }
}

// MEDIA
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
  .search_container {
    padding: 1rem;
    margin-top: 1rem;
  }
  .searched_list_container {
    margin-top: 1rem;
    height: calc(100vh - 334px);
  }
  .search_container .search_fields select,
  .search_container .search_fields .inp_container input {
    height: 30px;
  }
  .search_container .search_fields .search_btn {
    height: 35px;
  }
}
@media screen and (max-width: 575px) {
}
