@import "../global/styles.scss";

.search_container {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 2px 52px -9px rgba(32, 63, 178, 0.201513);
  border-radius: 10px;
  margin-top: 3rem;
  padding: 1.6rem 2.5rem;

  .percent {
    color: rgba(45, 45, 45, 0.433184);
  }

  progress {
    min-width: 200px;
    accent-color: $color1;
  }

  progress[value]::-webkit-progress-bar {
    background-color: $color1;
  }

  .book_library {
    border: none;
    border-bottom: 2px solid $color1;
    color: rgba(15, 65, 82, 0.8);
    min-width: 220px;
  }

  .search_fields {
    select {
      background: #ffffff;
      border: 1px solid #b6b6b6;
      border-radius: 100px;
      padding-left: 1.5rem;
      font-family: "Assistant", sans-serif;
      font-weight: 600;
      width: 100%;
      font-size: 14px;
      height: 44px;
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    select:focus {
      color: $color1;
      font-weight: 500;
    }

    select.rtl {
      padding-right: 1.5rem;
    }

    .selectdiv {
      width: 100%;
      position: relative;
    }

    .selectdiv::after {
      content: url("../../icons/downArrow.svg");
      font: 17px "Consolas", monospace;
      color: #333;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      padding: 0 0 2px;
      position: absolute;
      pointer-events: none;
    }

    .selectdiv.rtl::after {
      left: 20px;
      right: auto;
    }

    .inp_container {
      position: relative;
      width: 100%;

      input {
        background: #ffffff;
        border: 1px solid #b6b6b6;
        border-radius: 100px;
        padding-left: 1.5rem;
        font-family: "Assistant", sans-serif;
        font-weight: 600;
        width: 100%;
        height: 44px;

        &:focus {
          outline-width: 1px;
          outline-style: solid;
          outline-color: $color1;
        }
      }

      input.rtl {
        padding-right: 1.5rem;
        padding-left: 2.5rem;
      }

      img {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
      }

      img.rtl {
        left: 20px;
        right: auto;
      }
    }

    .search_btn {
      background: #0f4152;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
      border-radius: 100px;
      color: #fff;
      width: 100%;
      height: 44px;
    }
  }

  .back {
    position: absolute;
    top: 0%;
    left: -4rem;
  }
}

.searched_list_container {
  background: #ffffff;
  box-shadow: 0px 2px 52px #d3d3d3;
  border-radius: 10px;
  margin-top: 2rem;

  .header {
    padding: 1.2rem 2rem 0rem 2rem;
    border-bottom: 2px solid #acacac;
  }

  .load {
    position: relative;

    img {
      position: absolute;
      right: 25%;
      top: 35%;
      transform: translateY(-50%);
      transform: rotate(270deg);
    }

    img.imge {
      position: static;
    }

    img.down {
      transform: rotate(90deg);
    }
  }

  .searched_list_body {
    height: calc(100vh - 590px);
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .reading_practice_card {
    padding: 0.8rem 0rem;
    border-top: 1px solid #cdcfd6;
    border-bottom: 0.5px solid #cdcfd6;

    .ch_comp {
      color: #b8b8b8;
    }

    .name_comp {
      color: #c1c1c1;
    }

    .not_completed {
      color: #949494;
    }

    progress {
      accent-color: $color1;
    }

    progress[value]::-webkit-progress-bar {
      background-color: $color1;
    }

    button.continue {
      background: #0f4152;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
      border-radius: 100px;
      border: none;
      color: #fff;
    }

    button.continue + button {
      background: #eceef4;
      color: #909090;
    }

    button {
      border: 1px solid #b6b6b6;
      border-radius: 100px;
      color: #909090;
      background: #ffffff;
      padding: 0.7rem 0.9rem 0.5rem 0.9rem;
      min-width: 102px;
      font-weight: 400;
    }
  }

  .tabs {
    p:nth-child(1) {
      border-bottom: 4px solid $color1;
    }
  }

  .rArrow {
    transform: rotate(180deg);
  }

  .inp_container {
    position: relative;
    max-width: 200px;

    input {
      background: #ffffff;
      border: 1px solid #b6b6b6;
      border-radius: 100px;
      padding-left: 1.5rem;
      font-family: "Assistant", sans-serif;
      font-weight: 600;
      width: 100%;
      height: 44px;

      &:focus {
        outline-width: 1px;
        outline-style: solid;
        outline-color: $color1;
      }
    }

    input.rtl {
      padding-right: 1.5rem;
      padding-left: 2.5rem;
    }

    img {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
    }

    img.rtl {
      left: 20px;
      right: auto;
    }
  }

  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  &::-webkit-scrollbar-thumb {
    background: $color1;
    border-radius: 10px;
  }

  .searched_card {
    transition: 0.6s;

    &:hover {
      background: #f2f5fe;
    }
  }
}

// MEDIA
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
  .search_container {
    padding: 1rem;
    margin-top: 1rem;
  }
  .searched_list_container {
    margin-top: 1rem;
  }
  .searched_list_container .header {
    padding: 1.2rem 1rem 0rem 1rem;
  }
  .searched_list_container .tabs_container,
  .searched_list_container .searched_list_body_cont {
    width: 100%;
    overflow-x: auto;
  }
  .searched_list_container .tabs {
    min-width: 600px;
  }
  .searched_list_container .searched_list_body {
    min-width: 1000px;
    height: calc(100vh - 530px);
    overflow-y: auto;
  }
}
@media screen and (max-width: 575px) {
}
